.join-community {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #f8f9fa; /* Replace with the color of your choice */
  border-radius: 20px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional */
}

.community-content {
  flex-basis: 100%; /* Adjust based on your design */
}

.community-content h2 {
  color: #6c757d; /* Adjust the color */
  margin-bottom: 0.5em;
}

.community-content p {
  margin-bottom: 1em;
}

form {
  display: flex;
  gap: 10px;
}

input[type='email'] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da; /* Replace with the color of your choice */
}

button[type='submit'] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff; /* Replace with the color of your choice */
  color: white;
  cursor: pointer;
}

.community-image img {
  max-width: 85%;
  border-radius: 10px; /* Match to your design */
}
