.ticket-card-scroll {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin; /* For supporting browsers */
}

.ticket-card-home {
  min-width: 300px; /* Adjust based on your design */
  margin-right: 16px; /* Space between cards */
  flex-shrink: 0; /* Prevents cards from shrinking */
  border-radius: 8px; /* Optional for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional for shadow */
  overflow: hidden; /* Keeps the image corners rounded */
}

.cards {
  width: 100%;
  /* height: auto; Change this to a fixed height or remove if using background-size */
  /* max-height: 300px; Adjust as needed */
  /* object-fit: cover; This will cover the area without stretching the image */
  display: block;
  /* margin-bottom: 20px; */
  aspect-ratio: 120 / 90;
  border-radius: 2;
  padding: 20px;
}

.ticket-info-home {
  padding: 16px;
  background: white; /* Fallback for non-transparent cards */
}

.ticket-info h3 {
  margin-top: 0;
}

/* Custom scrollbar for Webkit browsers */
.ticket-card-scroll::-webkit-scrollbar {
  height: 8px;
}

.ticket-card-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.ticket-card-scroll::-webkit-scrollbar-track {
  background: transparent;
}
